import {<%= props.name %>Props} from './<%= props.name %>.props';

const <%= props.name %>: React.FC<<%= props.name %>Props> = (props) => {
  return (
    <div>
      <div />
    </div>
  );
};

export default <%= props.name %>;
